html,
body {
	display: flex;
	height: 100%;
	flex-direction: column;
    margin: 0;
    background-color: lightblue;
    font-family: Tahoma;
}

.row {
	margin-bottom: 30px;
}
header {
	border-bottom: 8px solid darkgrey;
    background-image: url(header.jpg);
    font-size: 60px;
    text-align: left;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px #050505;
}

#forecast-container {
	border: 5px solid yellow;
	padding: 15px;
    line-height: 30x;
    background-color: lightgrey;
}

#name-div {
	font-size: 25px;
	font-weight: 500;
	padding-right: 5px;
	float: left;
    color: #343a40;
 
}

#five-title {
	font-size: 25px;
	font-weight: 500;
    color: darkblue;
    
}

h5 .mt-1 {
	color: yellow;
}


h1 {
	text-align: center;
	padding: 15px 20px 20px 15px;
    color: white;
    background-color: lightgrey;
}

.h1,
h1 {
    font-size: 30px !important;
  
}

.clear {
	text-align: left;
	padding-left: 0;
}

#clear-button {
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid darkblue;
}

#today {
	background-color: #eaebeb;
}

.card-container {
	display: inline-flex;
	flex-direction: row !important;
}

.card {
	display: inline-table;
	padding: 10px;
	margin: 10px;
	color: black;
	background-color: lightgrey !important;
	border: 5px solid yellow !important;
}

.card img {
	max-width: 50px;
}

.card-body {
    padding: 0 !important;
    background-color: lightgrey;
}

#main-content-container {
    flex: 1 0 auto;
    background-color: white;
}

/* || FOOTER || */

footer {
	flex: 0 0 auto;
	padding: 15px 0 25px;
	color: #fff;
	background: #343a40;
	border-top: 8px solid darkgrey;
	box-shadow: 0 5px 8px 5px #333;
	width: 100%;
    background-image: url(header.jpg);
}

.ul {
    background-color: yellow;
}

.btn-lg {
	padding: 4.5px !important;
	line-height: 1.5 !important;
	font-size: 14px !important;
}

.copyright {
	margin-top: 14px;
    font-size: 12px;
    text-align: right;
}

@media screen and (max-width: 600px) {
	header,
	.row {
		width: 100% !important;
	}
	.card-container {
		flex-direction: column !important;
		width: 100%;
	}
	.btn-lg {
		font-size: 10px !important;
	}
	.h1,
	h1 {
        font-family: Karla;
		font-size: 3.5rem !important;
	}
}